body {
	background: #fff;
}
.mui-content {
	/*padding: 0 1.875% 0;*/
	background: #fff;
	padding-bottom: 2rem;
}
.mui-input-group {
	margin-top: 3rem;
}
.mui-row {
	margin-top: 1rem;
}
.mui-row li {
	list-style: none;
}
.mui-row li h5 {
	font-size: 17px;
	text-align: right;
	padding-right: 3px;
}
.mui-radio input[type=radio] {
	top: -6px;
}
.mui-radio label {
	margin-left: 40px;
}
.mui-radio label {
	padding-right: 0;
	margin-left: 40px;
}
.mui-checkbox label, .mui-radio label {
	display: inline;
}
.mui-radio input[type=radio] {
	padding-left: 0;
}
.mui-radio input[type=radio]:before {
	position: relative;
	top: 4px;
	font-size: 20px;
}
.mui-radio input[type=radio]:checked:before {
	color: #008fd7;
	content: '\e442';
}

.beizhu {
	margin-top: 2rem !important;
	margin-bottom: 0 !important;
}
.beizhu p {
	font-size: 1.4rem;
	line-height: 2rem;
	padding-left: 11px;
}
textarea {
	width: 94%;
	margin-top: 1rem;
	margin-left: 3%;
	height: 10rem;
}
.mui-content button {
	padding: 0;
	width: 60%;
	height: 3.4rem;
	margin-top: 2rem;
	margin-left: 20%;
	font-size: 1.2rem;
}

form {
	width: 100%;
	margin-left: 0;
}

.iframe-box {
    position: relative;
    height: 100%;
    -webkit-overflow-scrolling: touch;  
    overflow-y: scroll;
    overflow-x:hidden;
    width: 100%;
}
.iframe-top {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px 10px 30px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    font-size: 0;
}
.iframe__price {
    line-height: 20px;
    font-size: 10px;
}
.iframe__invest {
    line-height: 20px;
    font-size: 10px;
}
.invest-num,
.price-num {
    font-size: 14px;
    color: #91C11D;
}

/*.iframe-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: #fff;
}*/
.iframe {
    width: 100%;
    height: 100%;
    margin-top: 1px;
    border: none;
overflow-x:hidden;
}

/*样式覆盖*/
form.mui-input-group .mui-input-row:after {
	left: 15px;
	right: 15px;
}
.mui-input-row label {
	padding-right: 24px;
	text-align: right;
}
.mui-input-row label {
	width: 45%;
}
.mui-input-row label~input {
	width: 55%;
}
.mui-input-row .choose {
	width: 55%;
	background: url(../images/select-icon.png) 90% center/20px auto no-repeat;
}
