.user__top {
    width: 100%;
    height: 300px;
}
.user__info {
    width: 1250px;
    padding-top: 100px;
    margin: 0 auto 0;
}
.user__img {
    display: inline-block;
    margin-right: 30px;
    width: 240px;
    height: 240px;
    border: 10px solid #fff;
    vertical-align: top;
}
.user__detail {
    width: 950px;
    display: inline-block;
}
.user__name {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1;
    color: #fff;
}
.user__intro {
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
}
.content {
    margin: 70px auto 0;
    width: 1250px;
}
.con-left {
    width: 980px;
}
.con-right {
    width: 250px;
}
.scroll_box {
    position: relative;
    height: 200px;
}
.list_box {
    position: relative;
    width: 980px;
    height: 100%;
    overflow: hidden;
}
.scroll_list {
    position: absolute;
    width: 10000px;
    
}
.hot_prev,
.hot_next {
    position: absolute;
    top: 60px;
    width: 40px;
    height: 70px;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 10;
}
.hot_prev {
    left: 0;
}
.hot_next {
    right: 0;
}
.hot_prev:after,
.hot_next:after {
    content: '';
    position: absolute;
    top: 24px;
    width: 20px;
    height: 20px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
.hot_prev:after {
    left: 14px;
    transform: rotate(-135deg);
}
.hot_next:after {
    right: 14px;
    transform: rotate(45deg);
}
.hot__title {
    padding-left: 42px;
    font-size: 24px;
    line-height: 72px;
    background: url(../images/bg-icon-hot.png) left center no-repeat;
}
.hot__box {
    /*height: 300px;*/
    overflow: hidden;
    font-size: 0;
    background-color: #fff;
}
.hot__itembox {
    display: inline-block;
    width: 245px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.hot__itembox:hover {
    color: #91C11D;
}
.hot__img {
    margin: 16px auto 10px;
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 60px;
}
.hot__info {
    margin-left: 62px;
    line-height: 30px;
}
.btn-box {
    margin: 16px 0 16px;
    text-align: center;
    font-size: 0;
}
.btn.m-hot {
    width: 96px;
}
.btn.m-hot:first-child {
    margin-right: 20px;
}
.project {
    position: relative;
}
.project__title {
    padding-left: 42px;
    font-size: 24px;
    line-height: 84px;
    background: url(../images/bg-icon-list.png) left center no-repeat;
}
.search__box {
    position: absolute;
    top: 20px;
    right: 0;
}
.search__left {
    position: relative;
    margin-top: 4px;
}
.search__left .search-input {
    width: 350px;
    height: 46px;
    border-radius: 6px;
    border: 2px solid #91C11D;
}
.search__left .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 46px;
    border: none;
    border-radius: 0 6px 6px 0;
    background: url(../images/search.png) center center no-repeat #91C11D;
}
.search__right {
    line-height: 46px;
}
.search__right-item {
    padding-right: 20px;
    margin-right: 30px;
    display: inline-block;
}

.reorder {
    position: absolute;
    top: 24px;
    left: 200px;
}
.reorder__item {
    display: inline-block;
    width: 44px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    /*background: url(../images/detail-hidden.png) right center no-repeat;*/
}
.reorder__item.on {
    /*background: url(../images/detail-show.png) right center no-repeat;*/
   color: #ffbe00;
}

.marks {
    padding-bottom: 2px;
    display: inline-block;
    vertical-align: bottom;
}
.mark-container {
    margin: -8px 0 20px 0;
}
.mark {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 1;
    border-radius: 4px;
    border: 1px solid #ffbe00;
    background-color: #fff;
    color: #ffbe00;
    cursor: pointer;
}
.mark-box .mark.on {
    background-color: #ffbe00;
    color: #fff;
}
.marks .mark {
    padding: 4px 6px;
    margin-left: 20px;
    margin-right: 0;
}


.project__itembox {
    position: relative;
    /*padding: 20px;*/
    padding: 10px 30px 10px 30px;
    margin-bottom: 12px;
    background-color: #fff;
    transition: box-shadow 0.4s ease;
}
.project__itembox:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
.project__name {
    line-height: 25px;
}
.project__name-small {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    color: #666;
}
.project__detail {
    font-size: 0;
}
.project__img {
    display: inline-block;
    width: 120px;
    height: 50px;
    /*margin-top: 35px;*/
   margin-top: 5px;
    line-height: 50px;
    vertical-align: top;
    color: #fff;
    text-align: center;
    font-size: 60px;
}
.project__info {
    /*margin-top: 6px;*/
    display: inline-block;
    width: 168px;
    text-align: center;
    /*line-height: 54px;*/
   line-height: 30px;
}
.project__profit-num,
.project__price-num {
    display: inline-block;
    /*margin-top: 16px;*/
    font-size: 20px;
    color: #ffbe00;
    line-height: 24px;
    vertical-align: top;
}
.investrange {
    display: inline-block;
    /*margin-top: 16px;*/
    line-height: 24px;
    vertical-align: top;
}
.project-btn-box {
    padding: 10px 0;
    display: inline-block;
    vertical-align: top;
}
.btn.m-project {
    display: block;
    font-size: 14px;
}
.btn.m-project:first-child {
    /*margin-top: 10px;*/
}
.person-total {
    position: absolute;
    /*bottom: 34px;*/
    top: 12px;
    right: 50px;
}
.look-detail {
    margin: 10px auto 0;
    display: block;
    height: 40px;
    width: 200px;
    text-align: center;
    color: #e4e4e4;
    background: url(../images/detail-show.png) bottom center no-repeat;
}
.detail-logs-title {
    margin-top: 10px;
    text-align: center;
}
.detail-logs {
    margin-top: 10px;
    font-size: 0;
}
.logs-item {
    width: 50%;
    display: inline-block;
    padding-left: 80px;
}
.hide-detail {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    background: url(../images/detail-hidden.png) center center no-repeat;
    cursor: pointer;
}

.ask {
    width: 250px;
    height: 100px;
    padding-left: 10px;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    background: url(../images/icon-quicksub-bg.png) 20px center no-repeat #91C11D;
}
/*.collect {
    width: 100px;
    height: 100px;
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #91C11D;
    border-left: 2px solid #fff;
    cursor: pointer;
}*/
.ask-time {
    font-size: 14px;
}
.notice {
    margin-top: 20px;
    background-color: #fff;
}
.notice__title {
    text-align: center;
    line-height: 40px;
    color: #91C11D;
}
.notice__box {
    /*height: 290px;*/
    padding-left: 10px;
    /*overflow: hidden;*/
}
.notice__txt {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}
.rank {
    margin-top: 20px;
    background-color: #fff;
}
.rank__title {
    text-align: center;
    line-height: 40px;
    color: #91C11D;
}
.rank__box {
    margin-left: 10px;
    height: 272px;
    overflow: hidden;
}
.rank__txt {
    display: block;
    /*margin-bottom: 10px;*/
    overflow: hidden;
    line-height: 34px;
}

.popup .date_selector {
    box-sizing: content-box;
    margin-left: 90px;
}
.choose_item {
    opacity: 0;
    position: absolute;
}
.choose_item-icon {
    display: inline-block;
    margin: 10px 10px 10px 38px;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    vertical-align: middle;
    cursor: pointer;
}
.choose_item:checked + .choose_item-icon {
    background: url(../images/bg-checked-choose.png) center center no-repeat;
}

.look {
    width: 250px;
    padding: 0 10px 10px 10px;
    margin-top: 20px;
    background-color: #fff;
}
.look_title {
    text-align: center;
    line-height: 40px;
    color: #91C11D;
}
.searchable-select {
    width: 100%;
}
.look .look__phone {
    width: 100%;
    margin-top: 10px;
}
.look__btn {
    margin-top: 20px;
    margin-left: 60px;
}
.look__detail {
    margin-top: 10px;
}
.look__detail-item {
    line-height: 30px;
}
.look-submit-old {
    padding-left: 26px;
    background: url(../images/look-pass-old.png) left center/17px 17px no-repeat;
}
.look-pass-new,
.look-submit-new {
    padding-left: 26px;
    background: url(../images/look-pass-new.png) left center/17px 17px no-repeat;
}
.look-refuse-new {
    padding-left: 26px;
    background: url(../images/look-refuse-new.png) left center/17px 17px no-repeat;
}

.fixed-box {
    display: none;
    position: fixed;
    bottom: 102px;
    right: -50px;
}
.fixed-item {
    display: block;
    margin-bottom: 4px;
    width: 40px;
    height: 40px;
    background-color: #91C11D;
    border-radius: 8px;
    cursor: pointer;
}
.fixed-item:hover {
    /*background-color: rgba(0,0,0,0.3);*/
}
.fixed-item.m-top:after {
    content: "";
    position: absolute;
    top: 60px;
    left: 10px;
    width: 18px;
    height: 18px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(-45deg);
    opacity: 1;
}
.fixed-item.m-qq {
    background: url(../images/bg-icon-qq.png) center center/26px auto no-repeat #91C11D;
}
.footer__box {
    width: 100%;
    margin-top: 20px;
    background-color: #373737;
}
.footer {
    position: relative;
    padding: 30px 0;
    width: 1250px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color: #373737;
}
.footer__by {
    position: absolute;
    top: 48px;
    left: 999px;
    font-size: 18px;
}
.link-qq {
    position: fixed;
    top: 140px;
    right: 0;
    padding-top: 60px;
    width: 80px;
    height: 175px;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    writing-mode: bt-lr;
    writing-mode: vertical-lr;
    background: url(../images/bg-icon-qq.png) center 20px no-repeat #91C11D;
}