
<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <title>加好友，分享投资经验</title>
	<meta name="keywords" content="二维码展示页" />
	<meta name="x5-cache" content="disable" />
    <meta name="apple-mobile-web-app-title" content="福利联盟" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" media="(device-height: 568px)">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="grey" />
</head>

<body id="body_wrap">

<div id="views">
     <div class="page_activity page_type_h5  "><div class="module_row module_row_4911 MOD_ID_869 has-log-mod" data-mid="4911" data-versionid="18773" id="m4911" data-editable="0" data-acm="3.mf.1_0_0.0.0.0.mf_549_4911"><div class="mod_row MCUBE_MOD_ID_869 J_mod_row_show"><div id="root" class="root"><div class="sub_root"><img src="https://s10.mogucdn.com/mlcdn/c45406/180227_70g0kfib0h2dbec23g5l7j669gca8_168x70.png" class="title_icon"> <div class="title">扫码加好友，随时聊天购买</div> <img src="https://s3.mogucdn.com/mlcdn/bd3fc0/180312_4hf1le3849dc9935650aeb5f874ld_390x390.jpg" class="imgcontent"> <!----> <div class="bottom_title">长按二维码 扫一扫</div></div></div></div></div></div> 
</div>

 </body>

</html>
 