{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta itemprop="name" content="{{user.username}}"/>
	<meta itemprop="image" content="{{user.picture_url}}" />
	<meta name="description" itemprop="description" content="{{user.profile}}" />
    <title>{{user.username}}</title>
    <link href="{% static 'css/mui.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/m_common.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/m_homepage.css' %}" rel="stylesheet"/>
    <link id="skin" href="/static/css/m-skin1.css" rel="stylesheet" />
    <style type="text/css">
        .mui-search {
            margin-top: -3px;
        }
    	.mui-search .mui-placeholder {
    	    top: 8px;
    	}
    	.mui-search.mui-active:before {
    	    top: 12px;
    	}
    	.mui-bar .mui-input-row .mui-input-clear~.mui-icon-clear {
    	    top: 14px;
    	    right: 0;
    	}
    </style>
</head>
<body>
    
<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <!--<h1 class="mui-title">搜索页</h1>-->
    <div class="mui-title">
            <input id="search" type="search" class="mui-input-clear" placeholder="">
        <div class="mui-input-row mui-search">
        </div>
    </div>
</header>
    <div id="pullrefresh" class="mui-scroll-wrapper tabcon" style="margin-top: 44px;">
        <div class="mui-content">
            
            <ul class="mui-table-view project-all-box">
                
            </ul>
        </div>
    </div>
<span id="qq_ask" class="qq-ask mui-icon mui-icon-qq"></span>
    <!--测试-->
<!--</div>-->
    <!--回到顶部部分-->
<!--<a id="scrollToTop" class="backTop hide"><i class="icon iconfont">&#xe623;</i></a>-->
<!--底部导航-->

<!--<ul class="footer clearfix tc">
	<li class="tabnav footer__item on">热门推荐</li>
	<li class="tabnav footer__item">项目列表</li>
</ul>-->


    <script src="{% static 'js/mui.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        document.getElementById('search').addEventListener('input', function () {
            console.log(this.value);
            var table = document.body.querySelector('.project-all-box');
            console.log(table);
            table.innerHTML = '';
//          mui('#pullrefresh').pullRefresh().refresh(true);
            count = 1;
            get_proj_url = "/restapi/sub/?is_on=true&project_title_contains=" + this.value;
            pullupRefresh();
        })
//      var btn = document.getElementById('again_up');
//      console.log(btn);
//      btn.addEventListener('tap',function(){
//          console.log('again');
//          var table = document.body.querySelector('.project-all-box');
//          console.log(table);
//          table.innerHTML = '';
//          mui('#pullrefresh').pullRefresh().refresh(true);
//          count = 1;
//          get_proj_url = "/restapi/sub/?is_on=false";
//          pullupRefresh();
//      })
      	mui.init({
//				pullRefresh: {
//					container: '#pullrefresh',
//					up: {
//						auto:false,
//						contentrefresh: '正在加载...',
//						contentnomore:'—— 我可是有底线的 ——',//可选，请求完毕若没有更多数据时显示的提醒内容；
//						callback: pullupRefresh
//					}
//				}
		});
		/**
		 * 上拉加载具体业务实现
		 */
		var count = 1;
		var get_proj_url = "/restapi/sub/?is_on=true";
		function get_wel_list(n){
		    console.log(n);
			mui.ajax(get_proj_url,{
				data:{
					'page':n,
					'pageSize': 4,
				},
				dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
//				headers:{'Content-Type':'application/json'},
				success:function(data){
				    console.log(data.results);
					if (!data.results.length){
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
					}
					else {
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(false); //参数为true代表没有更多数据了。
						var table = document.body.querySelector('.project-all-box');
//						var cells = document.body.querySelectorAll('.mui-table-view-cell');
						for (var i in data.results) {
							var item = data.results[i];
							var li = document.createElement('li');
							li.className = 'mui-table-view-cell proj';
							var str_block = '<h2 class="proj__title">'+ item.project_title +'<a class="marks">';
							console.log(item.marks);
							for (var i=0; i < item.marks.length; i++) {
                                str_block += '<span class="mark">'+　item.marks[i]　+'</span>';
                            }
							str_block += '</a></h2><div class="proj__info">';
							if (item.project_picture) {
							    str_block += '<div style="background-image:url('+ item.project_picture +')" class="proj__img"></div>';
							} else{
							    var colors = ['#8cd9f1','#a0a2cf','#a6d7b9','#f7bbd1','#feb8a6','#99badf','#d0aea1','#a0d6d6','#ff9a8c'];
							    var num = parseInt(Math.random()*6);
								str_block += '<div style="background-color: '+ colors[num] +';" class="proj__img">'+ item.project_title.substr(0, 1) +'</div>';
							}
                            str_block += '<p class="proj__intrest"><span class="proj__intrest-num">'+ (item.intrest ? item.intrest : item.project_intrest) +'</span><br />预计最高年化</p>'+
                            '<div class="proj__detail"><p class="proj__detail-item"><span class="proj__detail-name">返现价格：</span><span class="proj__detail-val">'+ (item.shortprice?item.shortprice:item.project_shortprice) +'</span></p>'+
                            '<p class="proj__detail-item m-mt"><span class="proj__detail-name">投标区间：</span><span class="proj__detail-val">'+ item.project_investrange +'</span></p>'+
                            '<p class="proj__detail-item m-mt"><span class="proj__detail-name">投资标期：</span><span class="proj__detail-val">'+ item.project_term +'</span></p>'+
                            '</div></div>'+
                            '<div class="proj__btnbox"><a data-projectid="'+ item.project +'" class="proj__btn state'+ item.project_state +' proj__btn-submit">'+
                            (item.project_state == 10 ? '查看攻略' : '已结束') +
                            '</a><a data-projectid="'+ item.project +'" class="proj__btn proj__btn-submit2">交单</a></div>';

							li.innerHTML = str_block;
							table.appendChild(li);
						}
					}

				},
				error:function(xhr,type,errorThrown){
				    mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
					console.log(xhr.responseText);
				}
			});
		}
		function pullupRefresh() {
		    console.log('ss');
			if (count == 1){
				mui('#pullrefresh').pullRefresh().scrollTo(0,0);
			}
			get_wel_list(count++);
		}
		


    </script>
    <script type="text/javascript">
//      var scrollToTopBox = document.getElementById('scrollToTop'); //返回按钮tap
//      scrollToTopBox.addEventListener('tap', function(e) {
//          e.stopPropagation();
//          mui('#pullrefresh').pullRefresh().scrollTo(0, 0, 500);//滚动到顶部
//      });
//      document.getElementById('pullrefresh').addEventListener('scrollend', function() {
//          if (mui('#pullrefresh').pullRefresh().y <= window.innerHeight * (-0.5) && scrollToTopBox.classList.contains('hide'))
//              scrollToTopBox.classList.remove('hide');
//          else if (mui('#pullrefresh').pullRefresh().y > window.innerHeight * (-0.5) && !scrollToTopBox.classList.contains('hide'))
//              scrollToTopBox.classList.add('hide');
//      });
        
        

        
        var colors = ['#8cd9f1','#a0a2cf','#a6d7b9','#f7bbd1','#feb8a6','#99badf','#d0aea1','#a0d6d6','#ff9a8c'];
        mui('.proj__img').each(function(){
            var imgurl = this.getAttribute('data-pic');
            console.log(imgurl);
            if (imgurl) {
                console.log('gdfg');
                this.style.backgroundImage = 'url('+ imgurl +')';
            } else{
                var imgtxt = ''+this.getAttribute('data-imgtxt');
                imgtxt = imgtxt.substr(0, 1);
                console.log(imgtxt);
                var num = parseInt(Math.random()*6);
                console.log(this);
                this.innerText = imgtxt;
                this.style.backgroundColor = colors[num];
            }
        })
        
//      mui('.tabcon').on('tap', '.proj__btn.state10', function(){
//          var url = this.getAttribute('href');
//          mui.openWindow({
//              url: url, 
//          });
//      })

        mui('.tabcon').on('tap', '.proj__btn-submit', function(){
            var project_id = this.getAttribute('data-projectid');
            console.log(project_id);
            var exp_url = "/detail/project/" + project_id + '/';
            mui.openWindow({
                url: exp_url,
                styles: {
                    top: 0,
                    bottom: 0
                },
                show: {
                    aniShow: 'slide-in-right',
                },
                waiting: {
                    autoShow: false, //自动显示等待框
                    title: '正在加载...', //等待对话框上显示的提示内容
                }
            });
        })
        mui('.tabcon').on('tap', '.proj__btn-submit2', function(){
            var project_id = this.getAttribute('data-projectid');
            console.log(project_id);
            var exp_url = "/detail/project/" + project_id + '/?tab=2';
            mui.openWindow({
                url: exp_url,
                styles: {
                    top: 0,
                    bottom: 0
                },
                show: {
                    aniShow: 'slide-in-right',
                },
                waiting: {
                    autoShow: false, //自动显示等待框
                    title: '正在加载...', //等待对话框上显示的提示内容
                }
            });
        })
        
        document.getElementById('qq_ask').addEventListener('tap', function () {
            console.log('s');
            mui.openWindow({
                url: "http://wpa.qq.com/msgrd?v=3&uin={{user.qq_number}}&site=qq&menu=yes",
            });
        })
        
        mui('.state20').each(function(){
            console.log(this);
            this.innerText = '已结束';
        })
//      window.onload = function() {
//          document.getElementById("search").focus();
            var btn = document.getElementById("search");
//          btn.addEventListener('click',function(){
////              mui.alert('click');
//              btn.focus();
//          })
//          window.setTimeout(function(){
                mui.trigger(btn,'click');
//          },300)
//      }
    </script>
{% include "footer.html" %}
</body>
</html>
